{% extends 'base.html' %}

{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        {{ update_form }}
        <input type="submit" value="Submit">
    </form>
    <hr>
    {% if answer %}
        id: {{ answer.get_id }}<br>
        Задание: {{ answer.get_task }}<br>
        Автор: {{ answer.get_author }}<br>
        Текст: {{ answer.get_text }}<br>
        Оценка: {{ answer.get_mark }}<br>
    {% endif %}<br>
    <button class="delete" data-target="." data-method="DELETE" data-disabled="true">Удалить</button>
{% endblock content %}

